<section class="has-light-background" data-background-color="#ffe599" data-background-image="bk.jpg">
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 1465px; height: 306px; left: -252px; top: 291px;" data-block-id="dd11c7fe8d3a8d12c4e93784cb433d1a"><div class="sl-block-content" style="z-index: 14;"><img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;"></div></div></section><section class="has-light-background" data-background-color="#ffe599" data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/chiuchiuchiu/images/974659/bk.jpg">
<div class="sl-block" data-block-type="text" data-block-id="a85ad31d84f85d0a21f5f82197a02b1d" style="height: auto; min-width: 30px; min-height: 30px; width: 666px; left: 63px; top: 97px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
<h3><strong><span style="font-size:48px">{News Title}</span></strong></h3>
</div></div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 71px; height: 71px; left: 729px; top: 93px;" data-block-id="f425ad518f4c409ce620b0bbbc1a5fd0"><div class="sl-block-content" style="z-index: 14;"><img src="ctee.png" style="visibility: visible;" data-natural-width="296" data-natural-height="296"></div></div>

<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 300px; height: 101px; left: 284px; top: 192px;" data-block-id="16054dbfdcda173df9f56b1240da3a21"><div class="sl-block-content" data-shape-type="arrow-down" data-shape-fill-color="rgb(68, 68, 68)" data-shape-stretch="false" style="z-index: 10;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveaspectratio="xMidYMid" viewbox="0 0 101 101"><polygon points="50.5,101 101,50.5 70.69999999999999,50.5 70.69999999999999,0 30.299999999999997,0 30.299999999999997,50.5 0,50.5 50.5,101" class="shape-element" fill="rgb(68, 68, 68)"></polygon></svg></div></div>
<div class="sl-block" data-block-type="text" data-block-id="a5c5b468fdbeafb78582ca3e68ae45f1" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 134px; top: 311px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16;">
<h3><span style="font-size:64px"><strong>{Stock1}</strong></span></h3>

<h3><span style="font-size:64px"><strong>{Stock2}</strong></span></h3>

<h3><span style="font-size:64px"><strong>{Stock3}</strong></span></h3>
</div></div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 744px; height: 155.19018404908px; left: 63px; top: 55px;" >
	<div class="sl-block-content" style="z-index: 11; border-width: 1px;" href="">
		<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
	</div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 1465px; height: 306px; left: -271px; top: 293px;" >
	<div class="sl-block-content" style="z-index: 15;">
		<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
	</div>
</div>
</section>