	<section class="has-light-background" data-background-color="#ffe599" data-background-image="bk.jpg">
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 113px; height: 113px; left: 847px; top: 125px;">
			<div class="sl-block-content" style="z-index: 11;">
				<img src="{{News1Image}}" style="visibility: visible;" data-natural-width="296" data-natural-height="296">
			</div>
		</div>
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 113px; height: 113px; left: 847px; top: 449px;">
			<div class="sl-block-content" style="z-index: 12;">
				<img src="{{News2Image}}" style="visibility: visible;" data-natural-width="296" data-natural-height="296">
			</div>
		</div>
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 181px; height: 52px; left: 813px; top: 325px;">
		<div class="sl-block-content" style="z-index: 13;">
			<img src="{{News3Image}}" style="visibility: visible;" data-natural-width="420" data-natural-height="120"></div>
		</div>
	
		<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 153px; top: 170px;">
			<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
				<h3><strong><span>{{News1Title}}</span></strong></h3>
			</div>
		</div>
		
		<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 326px;">
			<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
				<h3><strong><span>{{News2Title}}</span></strong></h3>
			</div>
		</div>
	
		<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 481px;">
			<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
				<h3><strong><span>{{News3Title}}</span></strong></h3>
			</div>
		</div>
	
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 666px; height: 140px; left: 134px; top: 125px;">
			<div class="sl-block-content" style="z-index: 14;">
				<img src="bar_bk.png" data-natural-width="163" data-natural-height="14" style="visibility: visible;">
			</div>
		</div>
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 666px; height: 140px; left: 134px; top: 280px;" >
			<div class="sl-block-content" style="z-index: 14;">
				<img src="bar_bk.png" data-natural-width="163" data-natural-height="14" style="visibility: visible;">
			</div>
		</div>
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 666px; height: 140px; left: 134px; top: 436px;" >
			<div class="sl-block-content" style="z-index: 14;">
				<img src="bar_bk.png" data-natural-width="163" data-natural-height="14" style="visibility: visible;">
			</div>
		</div>
		<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 222px; height: 222px; left: -88px; top: 29px;">
			<div class="sl-block-content" style="z-index: 20;">
				<img src="Cube.png" style="visibility: visible;" data-natural-width="800" data-natural-height="800">
			</div>
		</div>
		<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: -245px; top: 99px;">
			<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 21;" dir="ui">
			<p><span style="font-size:64px"><strong>{{Slide1Title}}</strong></span></p>
			</div>
		</div>
	
	</section>