<section class="has-light-background" data-background-color="#ffe599" data-background-image="bk.jpg">
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 181px; height: 52px; left: 771px; top: 150px;">
		<div class="sl-block-content" style="z-index: 12;">
			<img src="{{News1Image}}" style="visibility: visible;" data-natural-width="420" data-natural-height="120">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 113px; height: 113px; left: 814px; top: 258px;">
		<div class="sl-block-content" style="z-index: 11;">
			<img src="{{News2Image}}" style="visibility: visible;" data-natural-width="296" data-natural-height="296">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 94px; height: 94px; left: 815px; top: 409px;">
		<div class="sl-block-content" style="z-index: 13;">
			<img src="{{News3Image}}" style="visibility: visible;" data-natural-width="900" data-natural-height="900">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 94px; height: 94px; left: 814px; top: 548px;">
		<div class="sl-block-content" style="z-index: 10;">
			<img src="{{News4Image}}" style="visibility: visible;" data-natural-width="900" data-natural-height="900">
		</div>
	</div>
	<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 171px;">
		<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 22;">
			<p><strong>{{News1Title}}</strong></span></p>
		</div>
	</div>

	<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 295px;">
		<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19;">
			<p><strong>{{News2Title}}</strong></p>
		</div>
	</div>

	<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 100px; top: 431px;">
		<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 17;">
			<p><strong>{{News3Title}}</strong></p>
		</div>
	</div>

	<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 88px; top: 560px;">
		<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
			<p><strong>{{News4Title}}</strong></p>
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 612px; height: 128px; left: 88px; top: 514px;" >
		<div class="sl-block-content" style="z-index: 14;">
			<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 612px; height: 128px; left: 88px; top: 386px;" >
		<div class="sl-block-content" style="z-index: 16;">
			<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 612px; height: 128px; left: 88px; top: 258px;" >
		<div class="sl-block-content" style="z-index: 18;">
			<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 612px; height: 128px; left: 88px; top: 130px;" >
		<div class="sl-block-content" style="z-index: 20;">
			<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
		</div>
	</div>
	<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 222px; height: 222px; left: -128px; top: 29px;" >
		<div class="sl-block-content" style="z-index: 23;">
			<img src="Cube.png" style="visibility: visible;" data-natural-width="800" data-natural-height="800">
		</div>
	</div>
	<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: -288px; top: 99px;" >
		<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 24;" dir="ui">
		<p><span style="font-size:64px"><strong>{{Slide1Title}}</strong></span></p>
		</div>
	</div>
</section>