<section class="has-light-background" data-background-color="#ffe599" data-background-image="bk.jpg">
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 120px; top: 104px;">
	<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
		<h3><span style="font-size:56px"><strong>{產業名稱}</strong></span></h3>
	</div>
</div>
#畫箭頭
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 300px; height: 109px; left: 274px; top: 182px;">
	<div class="sl-block-content" data-shape-type="arrow-down" data-shape-fill-color="rgb(68, 68, 68)" data-shape-stretch="false" style="z-index: 10;">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveaspectratio="xMidYMid" viewbox="0 0 109 109">
		<polygon points="54.5,109 109,54.5 76.3,54.5 76.3,0 32,0 32,54.5 0,54.5 54.5,109" class="shape-element" fill="rgb(68, 68, 68)"></polygon>
		</svg>

<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 317px; left: 0px; top: 310px;">
	<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 17;">
		<h3><span style="font-size:48px"><strong>{{R1C1}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R2C1}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R3C1}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R4C1}}</strong></span></h3>
	</div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 257px; left: 338px; top: 310px;" >
	<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16;">
		<h3><span style="font-size:48px"><strong>{{R1C2}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R2C2}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R3C2}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R4C2}}</strong></span></h3>
	</div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 267px; left: 613px; top: 328px;" >
	<div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
		<h3><span style="font-size:48px"><strong>{{R1C3}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R2C3}}</strong></span></h3>
		<h3><span style="font-size:48px"><strong>{{R3C3}}</strong></span></h3>
	</div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 666px; height: 140px; left: 103px; top: 70px;">
	<div class="sl-block-content" style="z-index: 12;">
		<img src="bar_bk.png" data-natural-width="163" data-natural-height="34" style="visibility: visible;">
	</div>
</div>
</div>
</div>
</section>


